.f-container {
  padding: 0;
  .f-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-weight: 600;
    cursor: pointer;
  }

  .f-content{
    border-top: 1px solid #f3f3f3;
    padding: 1rem;

    .f-filter-options {
      display:flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      padding-top: 1rem;
    }
  }
}