:root{
  --button-primary: #01b4e4;
  --button-hover: #032541;
  --button-disabled: #e4e4e4b3;
  --surface-card: #e3e3e3;

  --divider-primary: #9e9e9e;

  --text-primary: #000;
  --text-secondary: #fff;
  --text-contrast: #fff;
}